<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img src="/assets/image/logo.png" alt="illustration" class="illustration" />
      <h1 class="opacity">MOT DE PASSE OUBLIÉ</h1>
      <form>
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
        <button class="opacity" (click)="authService.ForgotPassword(passwordResetEmail.value)">Envoyer</button>
      </form>
      <div class="register-forget opacity">
        <a  routerLink="/sign-in">Retour</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
