<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img src="/assets/image/logo.png" alt="illustration" class="illustration" />
      <h1 class="opacity">INSCRIPTION</h1>
      <form>
        <input
          type="text"
          class="formControl"
          placeholder="Email"
          #userEmail
          required
        />
        <input
          type="password"
          class="formControl"
          placeholder="Mot de passe"
          #userPwd
          required
        />
        <select class="formControl" #userSex required>
          <option value="" disabled selected>Genre</option>
          <option value="Male">Homme</option>
          <option value="Female">Femme</option>
        </select>
        <button class="opacity" (click)="authService.SignUp(userEmail.value, userPwd.value, userSex.value)">VALIDER</button>
      </form>
      <div class="register-forget opacity">
        <a routerLink="/sign-in">Connexion</a>
        <a routerLink="/forgot-password">Mot de passe oublié</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
