<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img src="/assets/image/logo.png" alt="illustration" class="illustration" />
      <h1 class="opacity">INSCRIPTION</h1>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <input
          type="text"
          class="formControl"
          placeholder="Pseudo"
          formControlName="pseudo"
        />
        <input
          type="text"
          class="formControl"
          placeholder="Email"
          formControlName="email"
        />
        <input
          type="password"
          class="formControl"
          placeholder="Mot de passe"
          formControlName="password"
        />
        <select class="formControl" formControlName="sex">
          <option value="" disabled selected>Genre</option>
          <option value="Male">Homme</option>
          <option value="Female">Femme</option>
        </select>
        <button class="opacity" type="submit">VALIDER</button>
      </form>
      <div class="register-forget opacity">
        <a routerLink="/sign-in">Connexion</a>
        <a routerLink="/forgot-password">Mot de passe oublié</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
