<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img src="/assets/image/logo.png" alt="illustration" class="illustration" />
      <h1 class="opacity">CONNEXION</h1>
      <form>
        <input
          type="text"
          class="formControl"
          placeholder="Email"
          #email
          required
        />
        <input
          type="password"
          class="formControl"
          placeholder="Mot de passe"
          #userPassword
          required
        />
        <button class="opacity" (click)="authService.SignIn(email.value, userPassword.value)">Connexion</button>
      </form>
      <div class="register-forget opacity">
        <a routerLink="/register-user">Inscription</a>
        <a routerLink="/forgot-password">Motde passe oublié</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
