<nav class="menu" tabindex="0">
  <div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <img [src]="currentUser?.image" alt="image de profile"/>
    <h2>{{currentUser?.pseudo}}</h2>
  </header>
  <ul>
    <a routerLink="/dashboard"><li routerLinkActive="active-link" tabindex="0" class="icon-dashboard"><span>Accueil</span></li></a>
    <a routerLink="/parcour-list"><li routerLinkActive="active-link" tabindex="0" class="icon-customers"><span>Mes parcours</span></li></a>
    <a routerLink="/profile"><li routerLinkActive="active-link" tabindex="0" class="icon-settings"><span>Paramètres</span></li></a>
  </ul>
  <button class="logout-button" (click)="logout()">Déconnexion</button>
</nav>
